*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 15px;
  line-height: 26px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  padding: 100px 0px;
}

li {
  list-style-type: none;
}

p {
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
}

h1, h2, h4, h5, h6 {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
  color: #333;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  color: #333;
  font-family: 'Rajdhani', sans-serif;
}

h3 {
  font-size: 1.75rem;
}

h5 {
  color: #91781f;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
  font-family: 'Rajdhani', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.button {
  display: inline-block;
  padding: 8px 25px;
  min-width: 60px;
  background: #91781f;
  color: #fff;
  border-radius: 30px;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
}

.button * {
  cursor: pointer;
}

.button.bg-white {
  background-color: #fff;
  color: #91781f;
  -webkit-box-shadow: 0px 5px 30px 0px #9492f526;
          box-shadow: 0px 5px 30px 0px #9492f526;
  margin: 0px 5px;
  -webkit-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

.button.bg-white:hover, .button.bg-white:checked {
  background: #91781f;
  color: #fff;
}

.button.br {
  border: 2px solid #91781f;
}

.intro {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list .card {
  text-align: center;
  padding: 0px 15px;
}

.card {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .card {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 33.3333%;
    max-width: 33.3333%;
  }
}

.gallery-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.blog-item, .footer .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .blog-item, .footer .item {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .blog-item, .footer .item {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .blog-item, .footer .item {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .blog-item, .footer .item {
    width: 33.3333%;
    max-width: 33.3333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}

.sponser-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .sponser-logo {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .sponser-logo {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .sponser-logo {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 1200px) {
  .sponser-logo {
    width: 16.6666%;
    max-width: 16.6666%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666%;
            flex: 0 0 16.6666%;
  }
}

.blackSection {
  background-color: #0a0a0a;
  position: relative;
}

.blackSection * {
  color: #fff;
}

.blackSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-top: 31px dashed #fff;
}

.blackSection::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-bottom: 31px dashed #fff;
}

.fadeInLeft {
  visibility: visible;
  -webkit-animation: fadeInLeft 3.2s;
          animation: fadeInLeft 3.2s;
}

.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.end, .col.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.row.spaceBetween, .col.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.vertical-center, .col.vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.horizontal-center, .col.horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  padding: 15px;
  border-bottom: 1px solid #4950570f;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 999;
}

.nav .logo {
  height: auto;
  width: 200px;
}

.nav .logo img {
  position: absolute;
  top: -15px;
  width: 200px;
}

.nav .logo .black {
  display: none;
}

.nav .menu {
  display: none;
}

@media (min-width: 992px) {
  .nav .menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav .menu.mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .nav .menu.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .nav .menu.mobile {
    display: none;
  }
}

.nav .menu.mobile .dash-top, .nav .menu.mobile .dash-middle, .nav .menu.mobile .dash-bottom {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-top: 4px;
}

.nav .menu.mobile:hover + .collasp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu .list-index .index {
  margin-left: 15px;
}

.nav .menu .list-index .index a {
  color: #fff;
}

.nav .menu .list-index .first {
  margin-left: 0px;
}

.nav .menu .appointment {
  margin: 0px 6px;
}

.collasp {
  display: none;
  background-color: rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 100%;
  top: 100%;
}

.nav.fixed {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.hero {
  padding: 0;
  width: 100%;
}

.hero .slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .slider .bg-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero .slider .bg-img.img01 {
  background-image: url(../img/hero/slider-1.jpg);
}

.hero .slider .bg-img.img02 {
  background-image: url(../img/hero/slider-3.jpg);
}

.hero .slider .caption h1 {
  font-size: 110px;
  line-height: 87px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
  visibility: visible;
  font-family: 'Rajdhani', sans-serif;
}

.hero .slider .caption h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

.hero .slider .caption h3 {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
}

.hero .slider::after {
  content: '';
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-image: url(../img/hero/header-after.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-active .img01 {
  -webkit-animation: moveOut 6.4s;
          animation: moveOut 6.4s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slider-active .img02 {
  -webkit-animation: moveOut 6.4s;
          animation: moveOut 6.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slider-active .slider-text {
  -webkit-animation: fadeInLeft 3.2s;
          animation: fadeInLeft 3.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveOut {
  37.5% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49.9% {
    z-index: 2;
  }
  50% {
    z-index: -1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  87.5% {
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveOut {
  37.5% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49.9% {
    z-index: 2;
  }
  50% {
    z-index: -1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  87.5% {
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.services i {
  font-size: 70px;
}

.pricing .intro-title {
  text-transform: capitalize;
}

.pricing .card {
  padding: 0;
  margin-bottom: 30px;
}

.pricing .card .group {
  background-color: #000;
  padding: 30px;
  margin: 0px 15px;
}

.pricing .card .title {
  text-align: start;
  color: #91781f;
}

.pricing .card .description {
  letter-spacing: 1px;
}

.pricing .card .description + .description {
  border-top: 1px dashed #fff;
}

.pricing span {
  color: #91781f;
}

.gallery input {
  visibility: hidden;
  position: absolute;
}

.gallery .gallery-img-group .gallery-item {
  display: none;
  margin-top: 30px;
  padding: 0px 15px;
  border-radius: 3px;
}

.gallery #All:checked ~ .gallery-img-group > ul > li {
  display: block;
}

.gallery #All:checked ~ .filter #filter-All {
  background: #91781f;
  color: #fff;
}

.gallery #Polydactyl:checked ~ .gallery-img-group > ul > .Polydactyl {
  display: block;
}

.gallery #Polydactyl:checked ~ .filter #filter-Polydactyl {
  background: #91781f;
  color: #fff;
}

.gallery #Snowshoe:checked ~ .gallery-img-group > ul > .Snowshoe {
  display: block;
}

.gallery #Snowshoe:checked ~ .filter #filter-Snowshoe {
  background: #91781f;
  color: #fff;
}

.gallery #Calico:checked ~ .gallery-img-group > ul > .Calico {
  display: block;
}

.gallery #Calico:checked ~ .filter #filter-Calico {
  background: #91781f;
  color: #fff;
}

.gallery #Persian:checked ~ .gallery-img-group > ul > .Persian {
  display: block;
}

.gallery #Persian:checked ~ .filter #filter-Persian {
  background: #91781f;
  color: #fff;
}

.testimonials .commentList {
  overflow: hidden;
}

.testimonials .list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300%;
          flex: 0 0 300%;
}

@media (min-width: 768px) {
  .testimonials .list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300%;
            flex: 0 0 300%;
  }
}

@media (min-width: 1200px) {
  .testimonials .list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.testimonials .card {
  background-color: #91781f;
  color: #fff;
  margin: 10px;
  padding: 15px 15px;
}

.testimonials .card .avatar {
  position: relative;
}

.testimonials .card .avatar img {
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid #fff;
  vertical-align: middle;
}

.testimonials .card .content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.testimonials .rank i {
  color: #ffce39;
  font-size: 18px;
}

.slideLeft.current {
  -webkit-animation: slideLeft 24s ease-in-out 0s infinite;
          animation: slideLeft 24s ease-in-out 0s infinite;
}

.slideLeft.outsideIn {
  -webkit-animation: slideLeft-outsideIn 24s ease-in-out 0s infinite;
          animation: slideLeft-outsideIn 24s ease-in-out 0s infinite;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  13.33% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  16.66% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  30% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  33.33% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  46.67% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  52% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  53% {
    opacity: 1;
  }
  63.33% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  66.66% {
    -webkit-transform: translateX(66.6%);
            transform: translateX(66.6%);
  }
  80% {
    -webkit-transform: translateX(66.6%);
            transform: translateX(66.6%);
  }
  83.33% {
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%);
  }
  96.67% {
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  13.33% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  16.66% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  30% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  33.33% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  46.67% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  52% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  53% {
    opacity: 1;
  }
  63.33% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  66.66% {
    -webkit-transform: translateX(66.6%);
            transform: translateX(66.6%);
  }
  80% {
    -webkit-transform: translateX(66.6%);
            transform: translateX(66.6%);
  }
  83.33% {
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%);
  }
  96.67% {
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft-outsideIn {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  13.33% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  16.66% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  30% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  33.33% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  46.67% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  63.33% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66.66% {
    -webkit-transform: translateX(-133.3%);
            transform: translateX(-133.3%);
  }
  80% {
    -webkit-transform: translateX(-133.3%);
            transform: translateX(-133.3%);
  }
  83.33% {
    -webkit-transform: translateX(-166.6%);
            transform: translateX(-166.6%);
  }
  96.67% {
    -webkit-transform: translateX(-166.6%);
            transform: translateX(-166.6%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes slideLeft-outsideIn {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  13.33% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  16.66% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  30% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  33.33% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  46.67% {
    -webkit-transform: translateX(-66.6%);
            transform: translateX(-66.6%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  63.33% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66.66% {
    -webkit-transform: translateX(-133.3%);
            transform: translateX(-133.3%);
  }
  80% {
    -webkit-transform: translateX(-133.3%);
            transform: translateX(-133.3%);
  }
  83.33% {
    -webkit-transform: translateX(-166.6%);
            transform: translateX(-166.6%);
  }
  96.67% {
    -webkit-transform: translateX(-166.6%);
            transform: translateX(-166.6%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.blog {
  background-color: #fff6f6;
}

.blog .card {
  padding: 0;
  margin-bottom: 30px;
}

.blog .card .group {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px #9492f526;
          box-shadow: 0px 5px 30px 0px #9492f526;
  padding: 30px;
  margin: 0px 15px;
}

.blog .card .img-frame {
  width: 100%;
  overflow: hidden;
  font-size: 100px;
}

.blog .card .img-frame img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blog .card .content {
  padding: 30px 25px;
}

.blog .card .title {
  text-align: start;
  color: #91781f;
  margin-bottom: 10px;
}

.blog .card .text {
  text-align: start;
  font-weight: 300;
}

.blog .card .info {
  background-color: #91781f;
  border-radius: 20px;
  color: #fff;
}

.blog .card .info .date {
  padding-left: 15px;
}

.blog .card .info .readStory {
  padding-right: 15px;
  color: #fff;
}

.blog .card:hover .img-frame > img {
  -webkit-transform: rotate(4deg) scale(1.2);
          transform: rotate(4deg) scale(1.2);
}

.reservation {
  background-image: url(../img/reservation/reservation-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.reservation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .6;
}

.reservation * {
  color: #fff;
}

.reservation .content-intro {
  margin-bottom: 10px;
}

.reservation .phone {
  background-color: #91781f;
  border-radius: 50px;
  padding: 6px 35px;
}

.reservation .phone h3 {
  font-weight: 500;
  margin-bottom: 0px;
}

.footer {
  padding: 50px 0px;
  background-color: #040404;
  position: relative;
  z-index: 1;
  border-top: 31px dashed #fff;
}

.footer .option {
  width: 100%;
  margin-bottom: 30px;
}

.footer .option .item {
  width: 33%;
}

.footer .option .item .content li, .footer .option .item .content a {
  color: #555;
}

.footer .option .item .content li {
  margin-top: 7px;
}

.footer .option .item .content i {
  color: #91781f;
}

.footer .option .title {
  color: #91781f;
}

.footer .policy * {
  color: #fff;
}

.footer .policy a {
  padding: 0px 8px;
}

.footer .policy a + a {
  border-left: 1px solid #fff;
}

.gg-calendar,
.gg-calendar::before {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gg-calendar {
  position: relative;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-top: 4px solid;
  border-radius: 3px;
}

.gg-calendar::before {
  content: "";
  position: absolute;
  width: 10px;
  border-radius: 3px;
  left: 2px;
  background: currentColor;
  height: 2px;
  top: 2px;
}

.gg-mail,
.gg-mail::after {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}
/*# sourceMappingURL=style.css.map */