*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-size: 15px;
    line-height: 26px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}
section{
    width: 100%;
    padding: 100px 0px;
}
li{
    list-style-type: none;
}
p{
    font-size: 15px;
    color: #555;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: .5rem;
    line-height: 1.2;
}
h1,h2,h4,h5,h6{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}
h2{
    font-weight: 400;
    font-size: 50px;
    line-height: 1.3;
    color: #333;
    font-family: 'Rajdhani', sans-serif;
}
h3{
    font-size: 1.75rem;
}
h5{
    color: #91781f;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-family: 'Rajdhani', sans-serif;
}
.wrapper{
    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
        max-width: 720px;
    }
    @media (min-width: 992px){
        max-width: 960px;
    }
    @media (min-width: 1200px){
        max-width: 1140px;
    }
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.button{
    display: inline-block;
    padding: 8px 25px;
    min-width: 60px;
    background: #91781f;
    color: #fff;
    border-radius: 30px;
    border-color: transparent;
    text-align: center;
    cursor: pointer;
    *{
        cursor: pointer;
    }
    &.bg-white{
        background-color: #fff;
        color: #91781f;
        box-shadow: 0px 5px 30px 0px #9492f526;
        margin: 0px 5px;
        transition: all .5s ease-in-out 0s;
        &:hover,&:checked{
            background: #91781f;
            color: #fff;
        }
    }
    &.br{
        border: 2px solid #91781f;
    }
}
.intro{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    &.reverse{
        flex-direction: column-reverse;
    }
}
.list{
    display: flex;
    flex-direction: row;
    .card{
        text-align: center;
        padding: 0px 15px;
    }
}
.blackSection{
    background-color: #0a0a0a;
    position: relative;
    *{
        color: #fff;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-top: 31px dashed #fff;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-bottom: 31px dashed #fff;
    }
}
.fadeInLeft{
    visibility: visible;
    animation: fadeInLeft 3.2s;
}
.row,.col{
    display: flex;
    &.end{
        justify-content: end;
    }
    &.spaceBetween{
        justify-content: space-between;
    }
    &.vertical-center{
        align-items: center;
    }
    &.horizontal-center{
        justify-content: center;
    }
    &.wrap{
        flex-wrap: wrap;
    }
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.mt-15{
    margin-top: 15px;
}
.text-center{
    text-align: center;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    padding: 15px;
    border-bottom: 1px solid #4950570f;
    background-color: rgba(0, 0, 0, 0.07);
    z-index: 999;
    .logo{
        height: auto;
        width: 200px;
        img{
            position: absolute;
            top: -15px;
            width: 200px;
        }
        .black{
            display: none;
        }
    }
    .menu{
        // padding: 16px 0px;
        .list-index{
            .index{
                margin-left: 15px;
                a{
                    color: #fff;
                }
            }
            .first{
                margin-left: 0px;
            }
        }
        .appointment{
            margin: 0px 6px;
        }
    }
}
.nav.fixed{
    position: sticky;
    transform: translate3d(0,-100%,0);
}
.hero{
    padding: 0;
    width: 100%;
    .slider{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        .bg-img{
            position: absolute;
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center;
            &.img01{
                background-image: url(../img/hero/slider-1.jpg);
            }
            &.img02{
                background-image: url(../img/hero/slider-3.jpg);
            }
        }
        .caption{
            h1{
                font-size: 110px;
                line-height: 87px;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
                opacity: 1;
                visibility: visible;
                font-family: 'Rajdhani', sans-serif;
            }
            h2{
                font-size: 2rem;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                font-family: 'Rajdhani', sans-serif;
            }
            h3{
                font-size: 1.75rem;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'Rajdhani', sans-serif;
                color: #fff;
            }
        }
        &::after{
            content: '';
            z-index: 5;
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;
            background-image: url(../img/hero/header-after.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.slider-active{
    .img01{
        animation: moveOut 6.4s;
        animation-delay: 3.2s;
        animation-iteration-count: infinite;
    }
    .img02{
        animation: moveOut 6.4s;
        animation-iteration-count: infinite;
    }
    .slider-text{
        animation: fadeInLeft 3.2s;
        animation-iteration-count: infinite;
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    25%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveOut {
    37.5%{
        transform: translateX(0px);
    }
    49.9%{
        z-index: 2;
    }
    50%{
        z-index: -1;
        transform: translateX(-100%);
    }
    51%{
        transform: translateX(100%);
        width: 100%;
    }
    87.5%{
        width: 60%;
        transform: translateX(100%);
    }
    100%{
        width: 100%;
        transform: translateX(0px);
    }
}
.services{
    .card{
        width: 33.3333%;
        max-width: 33.3333%;
    }
    i{
        font-size: 70px;
    }
}
.pricing{
    .intro-title{
        text-transform: capitalize;
    }
    .card{
        background-color: #000;
        padding: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        width: 33.3333%;
        max-width: 33.3333%;
        .title{
            text-align: start;
            color: #91781f;
        }
        .description{
            letter-spacing: 1px;
        }
        .description + .description{
            border-top: 1px dashed #fff;
        }
    }
    span{
        color: #91781f;
    }
}
.gallery{
    input{
        visibility: hidden;
        position: absolute;
    }
    .gallery-img-group{
        .gallery-item{
            @media (min-width: 576px){
                flex: 0 0 100%;
            }
            @media (min-width: 768px){
                flex: 0 0 50%;
            }
            @media (min-width: 992px){
                flex: 0 0 50%;
            }
            @media (min-width: 1200px){
                flex: 0 0 25%;
            }
            display: none;
            margin-top: 30px;
            padding: 0px 15px;
            border-radius: 3px;
        }
    }
    #All:checked~.gallery-img-group>ul>li{
        display: block;
    }
    #All:checked~.filter #filter-All{
        background: #91781f;
        color: #fff;
    }
    #Polydactyl:checked~.gallery-img-group>ul>.Polydactyl{
        display: block;
    }
    #Polydactyl:checked~.filter #filter-Polydactyl{
        background: #91781f;
        color: #fff;
    }
    #Snowshoe:checked~.gallery-img-group>ul>.Snowshoe{
        display: block;
    }
    #Snowshoe:checked~.filter #filter-Snowshoe{
        background: #91781f;
        color: #fff;
    }
    #Calico:checked~.gallery-img-group>ul>.Calico{
        display: block;
    }
    #Calico:checked~.filter #filter-Calico{
        background: #91781f;
        color: #fff;
    }
    #Persian:checked~.gallery-img-group>ul>.Persian{
        display: block;
    }
    #Persian:checked~.filter #filter-Persian{
        background: #91781f;
        color: #fff;
    }
}
.testimonials{
    .commentList{
        overflow: hidden;
    }
    .list{
        flex: 0 0 100%;
    }
    .card{
        background-color: #91781f;
        color: #fff;
        margin: 10px;
        padding: 15px 15px;
        .avatar{
            position: relative;
            img{
                width: 130px;
                border-radius: 50%;
                padding: 3px;
                border: 3px solid #fff;
                vertical-align: middle;
            }
        }
        .content{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .rank{
        i{
            color: #ffce39;
            font-size: 18px;
        }
    }
}
.slideLeft{
    &.current{
        animation: slideLeft 24s ease-in-out 0s infinite;
    }
    &.outsideIn{
        animation: slideLeft-outsideIn 24s ease-in-out 0s infinite;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(0%);
    }
    13.33%{
        transform: translateX(0%);
    }
    16.66%{
        transform: translateX(-33.3%);
    }
    30%{
        transform: translateX(-33.3%);
    }
    33.33%{
        transform: translateX(-66.6%);
    }
    46.67%{
        transform: translateX(-66.6%);
    }
    50%{
        opacity: 1;
        transform: translateX(-100%);
    }
    51%{
        opacity: 0;
        transform: translateX(-100%);
    }
    52%{
        opacity: 0;
        transform: translateX(100%);
    }
    53%{
        opacity: 1;
    }
    63.33%{
        transform: translateX(100%);
    }
    66.66%{
        transform: translateX(66.6%);
    }
    80%{
        transform: translateX(66.6%);
    }
    83.33%{
        transform: translateX(33.3%);
    }
    96.67%{
        transform: translateX(33.3%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideLeft-outsideIn {
    0%{
        transform: translateX(0%);
    }
    13.33%{
        transform: translateX(0%);
    }
    16.66%{
        transform: translateX(-33.3%);
    }
    30%{
        transform: translateX(-33.3%);
    }
    33.33%{
        transform: translateX(-66.6%);
    }
    46.67%{
        transform: translateX(-66.6%);
    }
    50%{
        transform: translateX(-100%);
    }
    63.33%{
        transform: translateX(-100%);
    }
    66.66%{
        transform: translateX(-133.3%);
    }
    80%{
        transform: translateX(-133.3%);
    }
    83.33%{
        transform: translateX(-166.6%);
    }
    96.67%{
        transform: translateX(-166.6%);
    }
    100%{
        transform: translateX(-200%);
    }
}
.blog{
    background-color: #fff6f6;
    .card{
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px #9492f526;
        padding: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        width: 33.3333%;
        max-width: 33.3333%;
        .img-frame{
            width: 100%;
            overflow: hidden;
            font-size: 100px;
            img{
                transition: all .5s;
            }
        }
        .content{
            padding: 30px 25px;
        }
        .title{
            text-align: start;
            color: #91781f;
            margin-bottom: 10px;
        }
        .text{
            text-align: start;
            font-weight: 300;
        }
        .info{
            background-color: #91781f;
            border-radius: 20px;
            color: #fff;
            .date{
                padding-left: 15px;
            }
            .readStory{
                padding-right: 15px;
                color: #fff;
            }
        }
        &:hover .img-frame>img{
            transform: rotate(4deg) scale(1.2);
        }
    }
}
.reservation{
    background-image: url(../img/reservation/reservation-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .6;
    }
    *{
        color: #fff;
    }
    .content-intro{
        margin-bottom: 10px;
    }
    .phone{
        background-color: #91781f;
        border-radius: 50px;
        padding: 6px 35px;
        h3{
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
}
.footer{
    padding: 50px 0px;
    background-color: #040404;
    position: relative;
    z-index: 1;
    border-top: 31px dashed #fff;
    .option{
        width: 100%;
        margin-bottom: 30px;
        .item{
            width: 33%;
            .content{
                li,a{
                    color: #555;
                }
                li{
                    margin-top: 7px;
                }
                i{
                    color: #91781f;
                }
            }
        }
        .title{
            color: #91781f;
        }
    }
    .policy{
        *{
            color: #fff;
        }
        a{
            padding: 0px 8px;
        }
        a+a{
            border-left: 1px solid #fff;
        }
    }
}
.gg-calendar,
.gg-calendar::before {
    display: block;
    box-sizing: border-box
}
.gg-calendar {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-top: 4px solid;
    border-radius: 3px
}
.gg-calendar::before {
    content: "";
    position: absolute;
    width: 10px;
    border-radius: 3px;
    left: 2px;
    background: currentColor;
    height: 2px;
    top: 2px
}
.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    border-radius: 2px
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
} 