*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 15px;
  line-height: 26px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

section {
  width: 100%;
  padding: 100px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
}

h1, h2, h4, h5, h6 {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
  color: #333;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  color: #333;
  font-family: 'Rajdhani', sans-serif;
}

h3 {
  font-size: 1.75rem;
}

h5 {
  color: #91781f;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
  font-family: 'Rajdhani', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.button {
  padding: 8px 12px;
  background: #91781f;
  border-radius: 50px;
  border-color: transparent;
  cursor: pointer;
}

.intro {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list .card {
  text-align: center;
  padding: 0px 15px;
}

.fadeInLeft {
  visibility: visible;
  -webkit-animation: fadeInLeft 3.2s;
          animation: fadeInLeft 3.2s;
}

.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.end, .col.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.row.spaceBetween, .col.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.vertical-center, .col.vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.horizontal-center, .col.horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  padding: 15px;
  border-bottom: 1px solid #4950570f;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 999;
}

.nav .logo {
  height: auto;
  width: 200px;
}

.nav .logo img {
  position: absolute;
  top: -15px;
  width: 200px;
}

.nav .logo .black {
  display: none;
}

.nav .menu .list-index .index {
  margin-left: 15px;
}

.nav .menu .list-index .index a {
  color: #fff;
}

.nav .menu .list-index .first {
  margin-left: 0px;
}

.nav .menu .appointment {
  margin: 0px 6px;
}

.nav.fixed {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.hero {
  padding: 0;
  width: 100%;
}

.hero .slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .slider .bg-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero .slider .bg-img.img01 {
  background-image: url(../img/hero/slider-1.jpg);
}

.hero .slider .bg-img.img02 {
  background-image: url(../img/hero/slider-3.jpg);
}

.hero .slider .caption h1 {
  font-size: 110px;
  line-height: 87px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
  visibility: visible;
  font-family: 'Rajdhani', sans-serif;
}

.hero .slider .caption h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

.hero .slider .caption h3 {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
}

.hero .slider::after {
  content: '';
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-image: url(../img/hero/header-after.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-active .img01 {
  -webkit-animation: moveOut 6.4s;
          animation: moveOut 6.4s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slider-active .img02 {
  -webkit-animation: moveOut 6.4s;
          animation: moveOut 6.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slider-active .slider-text {
  -webkit-animation: fadeInLeft 3.2s;
          animation: fadeInLeft 3.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveOut {
  37.5% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49.9% {
    z-index: 2;
  }
  50% {
    z-index: -1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  87.5% {
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveOut {
  37.5% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  49.9% {
    z-index: 2;
  }
  50% {
    z-index: -1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  51% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  87.5% {
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.services .card {
  width: 33.3333%;
  max-width: 33.3333%;
}

.services i {
  font-size: 70px;
}

.pricing {
  background-color: #0a0a0a;
  position: relative;
}

.pricing .intro-title {
  text-transform: capitalize;
}

.pricing .card {
  background-color: #000;
  padding: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  width: 33.3333%;
  max-width: 33.3333%;
}

.pricing .card .title {
  text-align: start;
  color: #91781f;
}

.pricing .card .description {
  letter-spacing: 1px;
}

.pricing .card .description + .description {
  border-top: 1px dashed #fff;
}

.pricing span {
  color: #91781f;
}

.pricing * {
  color: #fff;
}

.pricing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-top: 31px dashed #fff;
}

.pricing::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-top: 31px dashed #fff;
}

.index, .card {
  list-style-type: none;
}

.gg-calendar,
.gg-calendar::before {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gg-calendar {
  position: relative;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-top: 4px solid;
  border-radius: 3px;
}

.gg-calendar::before {
  content: "";
  position: absolute;
  width: 10px;
  border-radius: 3px;
  left: 2px;
  background: currentColor;
  height: 2px;
  top: 2px;
}
/*# sourceMappingURL=style.css.map */